 .current{
     font-size: 20px;
     color: green;
     font-weight: bold;
 }

 .sun{
     color: red;
 }
 .sat{
     color: rgba(88, 123, 143, 0.92);
 }
 a{
     display: block;
     font-size: 20px;
 }
 .currentPage{
     font-weight: bolder;
     color: red;
 }

 footer{
     font-weight: bolder;
     font-size: 32px;
     display: block;
     position: fixed;
     bottom: 5vh;
     text-align: center;
 }

 li{
     font-size: 32px;
     color:red;
 }
 ul{
     display: block;
     position: absolute;

     left: 30%;
     top: 35%;
 }

 .dblock{
     display: block;
     position: absolute;
     top: 25%;
     left: 30%;
 }